:root {
    --primary-color: #1e8449;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background: var(--primary-color);
    padding: 20px;
    display: grid;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}

.logo span {
    color: #ffffff;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.navigation a {
    display: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

.navigation li {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation.stack a {
    display: block;
}

.navigation a.active {
    text-decoration: underline;
}

#menu {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    text-decoration: none;
}

#menu::before {
    content: "☰";
    color: white;
    font-size: 2.5rem;
}

#menu.show::before {
    content: "X";
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    list-style: none;
}

.filters li {
    text-decoration: none;
    justify-content: center;
    margin: 0.4rem 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10rem;
}

.filters a{
    text-decoration: none;
    color: #333;
}

.soccer-field-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
    place-items: center;
}

.soccer-field-gallery section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.207);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.soccer-field-gallery img {
    width: 400px;
    height: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--primary-color);
}

.label {
    color: var(--primary-color);
    font-weight: bold;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin: 5rem 1rem;
}

.footer-links li {
    margin: 0.2rem 0;
}

footer p {
    font-size: 0.9rem;
}

@media (min-width: 768px) {

    header {
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        font-size: 2rem;
        padding: 0 3rem;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: flex;
        font-size: 1.5rem;
    }

    #menu {
        display: none;
    }

    .filters li {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin: 2rem 2rem;
    }

    footer {
        margin-top: 2rem;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
    }

    .footer-links a {
        padding: 0 4rem;
        margin: 0;
    }

    .footer-links li:not(:last-child) a {
        border-right: 1px solid black;
    }

    footer p:not(:last-child) {
        padding-top: 2rem;
    }

    footer p {
        font-size: 1rem;
    }
}